:root{
  --color-1:#F6B324;
  --color-2:#6E6969;
  --color-3:#FFFFFF;
  --color-4:#AB8500;
}

#box-right{
    border-radius:5px;
    max-width: 300px;
    max-height:535px;
    margin-left: auto;
    background-color: var(--color-3) ;
}

  
.header_right{
    background-color: var(--color-4);
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
  
.header-taskbar{
    display: flex;
    margin:0 10px;
    padding-top: 5px;
    color:var(--color-3);
}
  
.fa-ellipsis{
    font-size: 20px;
}
  
.header-time{
    margin-left: 90px;
    font-weight: 400;
}
  
.fa-battery-full{
    margin-left:100px
}
  
.header-tool{
    display: flex;
    margin:0 10px;
    padding:10px 0;
    align-items: center;
    color:var(--color-3);
}
  
.header-tool a{
    color:var(--color-3);
}
  
.fa-arrow-left-long, .fa-bars{
    font-size: 14px;
}
  
.header-back, .header-menu{
    margin-left: 10px;
    font-weight: 400;
}
  
.header-title_right{
    font-size:10px;
    font-weight:800;
    margin-left: 35px;
    padding-right: 40px;
}    
  
.header-menu{
  margin-left: 5px;
}

/* ---------------------------------------------------------------------------------------- */

  .dear_right{
    scroll-behavior: smooth;
    overflow-y: auto;
    width: 300px;
    height:430px;
  }

  .dear_right::-webkit-scrollbar{
    width: 0px;
  }

  .content-verse_right p{
    color:var(--color-2);
    margin: 20px 25px;
    font-size: 11px;
    font-weight:600;
    line-height:2;
  }

  /* .content-verse_right{
    border-bottom: 1px solid silver ;
  } */
  
  .verse-first{
    font-size:16px;
    font-weight:bold;
  }
/* ---------------------------------------------------------------------------------------- */

  .comment-content_right{
    border-top: 1px solid silver ;
    color:var(--color-2);
  }

  .comment_right{
    display: flex;
    margin: 0 25px;
  }

  .comment_right a{
    color:var(--color-2);
    display: flex;
    padding: 20px 0;
  }

  .comment_right a:focus{
    border-top: 2px solid var(--color-1);
    color:var(--color-2);
  }
  
  .comment_right h6{
    margin-top:4px;
    margin-left: 2px;
  }
  
  .comment_right a:not(:first-child){
    margin-left: 20px;
  }

/* ---------------------------------------------------------------------------------------- */

  .comment-content_right-des{
    margin: 0 25px;
    margin-top: 10px;
  }

  .content_right-des img{
    width: 15px;
    border-radius: 50%;
  }

  .content_right-des{
    display: flex;
  }

  .content_right-des a{
    color: var(--color-2);
  }

  .content_right-des h5{
    margin-left: 8px;
    font-size: 11px;
    font-weight: 700;
  }

  .comment-content_right-des p{
    font-size: 10px;
    color: silver;
    font-weight: 700;
    line-height:2;
    margin-left: 24px;
  }

/* ---------------------------------------------------------------------------------------- */

  .content_right-reply{
    display: flex;
    font-size: 12px;
    margin-top:5px;
    margin-left: 24px;
  }

  .content_right-reply a{
    color: var(--color-2);
    font-weight: bold;
    margin-left:2px;
    text-decoration: underline;
  }

  .content_right-des-comment-reply{
    display: flex;
    margin: 30px 0;
  }

  .content_right-des-comment-reply img{
    width: 15px;
    border-radius: 50%;
  }

  .comment-reply-box{
    min-width: 228px;
    min-height:110px;
    max-height: 110px;
    margin-left: 7px;
    padding:15px;
    outline-color: #6E6969;
    border-radius: 5px solid silver;
  }

  .comment-reply-box::-webkit-scrollbar{
    width: 1px;
  }

/* ---------------------------------------------------------------------------------------- */

  .footer{
    display: flex;
    padding-left:25px;
    border-top: 1px solid silver ;
  }

  .footer ul{
    display: flex;
  }

  .footer ul li{
    margin: 15px 0;
    list-style: none;
  }

  .footer ul li a{
    padding: 15.5px 0;
    font-size: 12px; 
    font-weight:bold;
    color: silver;
  }

  .footer ul li a:focus{
    border-top: 3px solid var(--color-1);
    color: var(--color-2);
  }

  .footer ul li:not(:first-child){
    margin-left: 15px;
  }

  .footer-comment{
    margin: 15px 0;
  }

  .footer-comment a i{
    margin-left: 12px;
    color: silver;
  }

  .footer-comment a i:focus{
    color: var(--color-2);
  }

