
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  img {
    display: block;
  }
  
  a {
    text-decoration: none;
  }
  
  body {
    font-family: "Montserrat", sans-serif;
    line-height: 1;
  }



  .main{
    max-width: 800px;
    max-height: 600px;
    display: flex;
    margin: auto;
    margin-top: 15px;
    background:linear-gradient(rgba(255, 255, 255, 0.4),rgba(255, 255, 255, 0.4)),
               url(../images/Anh_1.jpg) no-repeat;
    background-size: cover;
    background-position:center;
  }

  .container {
    width: 800px;
    height: 600px;
    display: flex;
    margin: 35px 85px;
  }
